<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{message}}
  </h1>
  <!-- <div app-test></div> -->
  <!-- <app-interpolation></app-interpolation> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-class-binding></app-class-binding> -->
  <!-- <app-style-binding></app-style-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference></app-template-reference> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
  <!-- <app-ng-if></app-ng-if> -->
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-component-interaction [parentData]="name" (childEvent)="message =$event"></app-component-interaction> -->
  <app-pipes></app-pipes>

</div>


<router-outlet></router-outlet>